In [125]:
import pandas as pd
import numpy as np
import itertools

In [126]:
# import elo data as df
data_elo = pd.read_excel("./data/data_elo.xlsx")
data_elo
# indices = data_elo[data_elo["Land"] == "TÃ¼rkei"].index

# print("Indices where 'TÃ¼rkei' appears in the 'Land' column:", indices)
# row_219 = data_elo.iloc[219]
# row_219

,Land,R,Average #,Average R,1 Year Change #,1 Year Change R,Matches T,Matches H,Matches A,Matches N,Matches W,Matches L,Matches D,Goals F,Goals A
0,Afghanistan,1114,167,904,7,20,150,9,57,84,36,79,35,146,312
1,Albanien,1613,73,1499,15,74,383,181,176,26,105,197,81,363,577
2,Algerien,1666,51,1632,-5,-46,650,245,226,179,290,187,173,982,668
3,Andorra,1113,182,1047,3,-8,208,85,93,30,13,167,28,70,505
4,Angola,1508,88,1457,24,101,427,147,173,107,152,128,147,495,440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Westsahara,996,189,996,-3,0,1,0,1,0,0,1,0,0,6
237,Jemen,1094,144,1212,5,2,274,53,81,140,59,165,50,265,561
238,Sambia,1485,60,1559,-6,-1,826,262,342,222,376,237,213,1319,869
239,Sansibar,1326,145,1108,-5,-2,204,27,42,135,37,126,41,169,434
240,Simbabwe,1323,81,1465,-1,5,495,183,198,114,193,160,142,672,577

In [127]:
# import market value data as df
data_market_value = pd.read_excel("./data/data_makret_value.xlsx")
data_market_value


# indices = data_market_value[data_market_value["Land"] == "TÃ¼rkei"].index
# indices

# print("Indices where 'TÃ¼rkei' appears in the 'Land' column:", indices)
# row_219 = data_elo.iloc[219]
# row_219

     #                   Land Confederation Market Value
0    1                England          UEFA      â‚¬1.47bn
1    2             Frankreich          UEFA      â‚¬1.21bn
2    3               Portugal          UEFA      â‚¬1.06bn
3    4                Spanien          UEFA     â‚¬906.00m
4    5                Italien          UEFA     â‚¬757.00m
5    6            Deutschland          UEFA     â‚¬672.00m
6    7            Niederlande          UEFA     â‚¬610.00m
7    8                Belgien          UEFA     â‚¬540.80m
8    9               Norwegen          UEFA     â‚¬474.20m
9   10               DÃ¤nemark          UEFA     â‚¬368.50m
10  11                Ukraine          UEFA     â‚¬354.50m
11  12               Schweden          UEFA     â‚¬343.50m
12  13                 TÃ¼rkei          UEFA     â‚¬303.45m
13  14               Kroatien          UEFA     â‚¬286.00m
14  15             Ã–sterreich          UEFA     â‚¬265.80m
15  16             Schottland          UEFA     â‚¬239.40m
16  17                Serbien          UEFA     â‚¬227.60m
17  18                Schweiz          UEFA     â‚¬223.20m
18  19        Republik Irland          UEFA     â‚¬215.90m
19  20               Russland          UEFA     â‚¬200.00m
20  21                  Polen          UEFA     â‚¬199.10m
21  22                  Wales          UEFA     â‚¬175.85m
22  23                 Ungarn          UEFA     â‚¬166.65m
23  24               Georgien          UEFA     â‚¬156.90m
24  25           Griechenland          UEFA     â‚¬151.85m
25  26  Tschechische Republik          UEFA     â‚¬146.65m
26  27              Slowenien          UEFA     â‚¬130.85m
27  28    Bosnien-Herzegowina          UEFA     â‚¬127.15m
28  29               Slowakei          UEFA     â‚¬126.50m
29  30               Albanien          UEFA     â‚¬123.05m
30  31               RumÃ¤nien          UEFA      â‚¬95.73m
31  32                 Kosovo          UEFA      â‚¬89.43m
32  33                 Island          UEFA      â‚¬70.70m
33  34                 Israel          UEFA      â‚¬57.45m
34  35        Nord-Mazedonien          UEFA      â‚¬51.73m
35  36             Nordirland          UEFA      â‚¬49.10m
36  37             Montenegro          UEFA      â‚¬40.03m
37  38               Finnland          UEFA      â‚¬33.65m
38  39              Bulgarien          UEFA      â‚¬33.38m
39  40               Armenien          UEFA      â‚¬33.18m
40  41              Luxemburg          UEFA      â‚¬30.83m
41  42             Kasachstan          UEFA      â‚¬21.50m
42  43                 Zypern          UEFA      â‚¬17.65m
43  44          Aserbaidschan          UEFA      â‚¬16.00m
44  45              Moldawien          UEFA      â‚¬15.00m
45  46           WeiÃŸrussland          UEFA      â‚¬11.75m
46  47                Litauen          UEFA      â‚¬11.48m
47  48               Lettland          UEFA      â‚¬10.40m
48  49                Estland          UEFA       â‚¬9.00m
49  50                  Malta          UEFA       â‚¬6.53m
50  51                Andorra          UEFA       â‚¬3.28m
51  52          FÃ¤rÃ¶er Inseln          UEFA       â‚¬2.90m
52  53              Gibraltar          UEFA       â‚¬1.62m
53  54          Liechtenstein          UEFA        â‚¬950k
54  55             San Marino          UEFA        â‚¬900k
55  56                 Monaco          UEFA            -
56  57             Schweden B          UEFA            -

In [128]:
# import team list from the european chamipionship 2024

data_teams = pd.read_excel("./data/em_teams.xlsx")
data_teams

                     Land Gruppe
0             Deutschland      A
1              Schottland      A
2                  Ungarn      A
3                 Schweiz      A
4                 Spanien      B
5                Kroatien      B
6                 Italien      B
7                Albanien      B
8               Slowenien      C
9                DÃ¤nemark      C
10                Serbien      C
11                England      C
12                  Polen      D
13            Niederlande      D
14             Ã–sterreich      D
15             Frankreich      D
16                Belgien      E
17               Slowakei      E
18               RumÃ¤nien      E
19                Ukraine      E
20                 TÃ¼rkei      F
21               Georgien      F
22               Portugal      F
23  Tschechische Republik      F

In [129]:
merge_data = pd.merge(data_teams, data_elo, on="Land")
merge_data = pd.merge(merge_data,data_market_value,on="Land" )
merge_data

,Land,Gruppe,R,Average #,Average R,1 Year Change #,1 Year Change R,Matches T,Matches H,Matches A,Matches N,Matches W,Matches L,Matches D,Goals F,Goals A,#,Confederation,Market Value
0,Deutschland,A,1921,8,1910,-3,-30,1019,451,407,161,587,220,212,2286,1207,6,UEFA,â‚¬672.00m
1,Schottland,A,1776,14,1878,0,-22,843,392,404,47,401,258,184,1456,1041,16,UEFA,â‚¬239.40m
2,Ungarn,A,1842,20,1836,3,11,1013,456,485,72,482,315,216,2061,1492,23,UEFA,â‚¬166.65m
3,Schweiz,A,1804,27,1686,-7,-87,869,414,382,73,308,368,193,1286,1453,18,UEFA,â‚¬223.20m
4,Spanien,B,2019,7,1942,4,56,753,329,294,130,440,138,175,1517,675,4,UEFA,â‚¬906.00m
5,Kroatien,B,1953,12,1879,-3,-4,375,147,159,69,196,78,101,647,376,14,UEFA,â‚¬286.00m
6,Italien,B,1956,8,1916,0,6,878,396,317,165,467,171,240,1536,863,5,UEFA,â‚¬757.00m
7,Albanien,B,1613,73,1499,15,74,383,181,176,26,105,197,81,363,577,30,UEFA,â‚¬123.05m
8,Slowenien,C,1739,55,1619,12,61,292,132,134,26,108,111,73,370,344,27,UEFA,â‚¬130.85m
9,DÃ¤nemark,C,1822,20,1798,-2,-32,879,400,388,91,409,292,178,1612,1190,10,UEFA,â‚¬368.50m
10,Serbien,C,1788,20,1785,-8,-76,839,293,413,133,395,259,185,1595,1153,17,UEFA,â‚¬227.60m
11,England,C,1999,4,1979,0,-4,1126,497,510,119,657,211,258,2628,1100,1,UEFA,â‚¬1.47bn
12,Polen,D,1721,29,1712,-11,-63,894,383,399,112,388,286,220,1520,1200,21,UEFA,â‚¬199.10m
13,Niederlande,D,1968,15,1845,-6,-79,871,413,350,108,448,236,187,1811,1112,7,UEFA,â‚¬610.00m
14,Ã–sterreich,D,1857,20,1809,16,98,839,419,373,47,356,305,178,1502,1295,15,UEFA,â‚¬265.80m
15,Frankreich,D,2085,16,1788,1,-28,909,462,334,113,455,265,189,1642,1257,2,UEFA,â‚¬1.21bn
16,Belgien,E,1986,23,1754,-2,-2,852,406,368,78,379,295,178,1547,1335,8,UEFA,â‚¬540.80m
17,Slowakei,E,1655,40,1680,15,60,347,146,163,38,139,125,83,490,439,29,UEFA,â‚¬126.50m
18,RumÃ¤nien,E,1664,28,1717,6,43,769,320,363,86,341,236,192,1250,977,31,UEFA,â‚¬95.73m
19,Ukraine,E,1863,33,1739,7,51,309,131,131,47,140,81,88,431,313,11,UEFA,â‚¬354.50m
20,TÃ¼rkei,F,1750,42,1611,12,48,639,280,287,72,249,240,150,895,925,13,UEFA,â‚¬303.45m
21,Georgien,F,1650,70,1551,2,-2,292,126,140,26,96,133,63,369,403,24,UEFA,â‚¬156.90m
22,Portugal,F,2013,19,1792,0,8,668,310,252,106,331,185,152,1165,754,3,UEFA,â‚¬1.06bn
23,Tschechische Republik,F,1772,13,1858,-1,-13,858,348,411,99,414,255,189,1580,1066,26,UEFA,â‚¬146.65m

In [130]:
def win_possiblility(data, country_a, country_b):
    rating_a = data.loc[data["Land"] == country_a, "R"].values[0]
    rating_b = data.loc[data["Land"] == country_b, "R"].values[0]

    dr = rating_a - rating_b
    we = 1 / (10 ** (-dr / 400) + 1)

    return we

# test = win_possiblility(merge_data, "Schweiz", "Deutschland")
test = win_possiblility(merge_data, "Deutschland", "TÃ¼rkei")
test

0.7279715135441962

In [131]:
 def simulate_game(data, team_a = str, team_b = str, num_simulations = int):

    win_pos_a = win_possiblility(data, team_a, team_b)
    games = 0
    win_a = 0
    win_b = 0


    while games <= num_simulations:
        games += 1

        if np.random.random() <= win_pos_a:
            win_a += 1
        else:
            win_b += 1
    
    win_list = [team_a, win_a, team_b, win_b]

    # df = pd.DataFrame({'Team': [team_a, team_b], 'Wins': [win_a, win_b]})

    return win_list


test = simulate_game(merge_data, "Schweiz", "Deutschland", 10000)
test

['Schweiz', 3306, 'Deutschland', 6695]

In [132]:
# # simulation of all games in all groups
# def simulate_group(data, groups = ["A", "B", "C", "D", "E", "F"], num_simulations = int):
    
#         filtered_df = data_teams[data_teams['Gruppe'] == group]
    
#         team_a = filtered_df["Land"].iloc[0]
#         team_b = filtered_df["Land"].iloc[1]
#         team_c = filtered_df["Land"].iloc[2]
#         team_d = filtered_df["Land"].iloc[3]
    
#         # print(team_a, team_b, team_c, team_d)
    
#         game_1 = simulate_game(data, team_a, team_b, num_simulations)
#         game_2 = simulate_game(data, team_a, team_c, num_simulations)
#         game_3 = simulate_game(data, team_a, team_d, num_simulations)
#         game_4 = simulate_game(data, team_b, team_c, num_simulations)
#         game_5 = simulate_game(data, team_b, team_d, num_simulations)
#         game_6 = simulate_game(data, team_c, team_d, num_simulations)
    
#         return game_1, game_2, game_3, game_4, game_5, game_6



#simulation of all games in a group

def simulate_group(data, group = str, num_simulations = int):
    
        filtered_df = data_teams[data_teams['Gruppe'] == group]
    
        team_a = filtered_df["Land"].iloc[0]
        team_b = filtered_df["Land"].iloc[1]
        team_c = filtered_df["Land"].iloc[2]
        team_d = filtered_df["Land"].iloc[3]
    
        # print(team_a, team_b, team_c, team_d)
    
        game_1 = simulate_game(data, team_a, team_b, num_simulations)
        game_2 = simulate_game(data, team_a, team_c, num_simulations)
        game_3 = simulate_game(data, team_a, team_d, num_simulations)
        game_4 = simulate_game(data, team_b, team_c, num_simulations)
        game_5 = simulate_game(data, team_b, team_d, num_simulations)
        game_6 = simulate_game(data, team_c, team_d, num_simulations)
    
        return game_1, game_2, game_3, game_4, game_5, game_6


test = simulate_group(merge_data, "A", 10000)
test





# creates a df with the simulation input, not sure wheter a df is better or who it is right now...
# def simulate_group(data, group, num_simulations):
#     filtered_df = data_teams[data_teams['Gruppe'] == group]

#     team_a = filtered_df["Land"].iloc[0]
#     team_b = filtered_df["Land"].iloc[1]
#     team_c = filtered_df["Land"].iloc[2]
#     team_d = filtered_df["Land"].iloc[3]

#     # Simulate games
#     game_1 = simulate_game(data, team_a, team_b, num_simulations)
#     game_2 = simulate_game(data, team_a, team_c, num_simulations)
#     game_3 = simulate_game(data, team_a, team_d, num_simulations)
#     game_4 = simulate_game(data, team_b, team_c, num_simulations)
#     game_5 = simulate_game(data, team_b, team_d, num_simulations)
#     game_6 = simulate_game(data, team_c, team_d, num_simulations)

#     # Create DataFrame
#     df = pd.DataFrame({
#         'Game 1': game_1,
#         'Game 2': game_2,
#         'Game 3': game_3,
#         'Game 4': game_4,
#         'Game 5': game_5,
#         'Game 6': game_6
#     })

#     return df

# test = simulate_group(merge_data, "A", 10000)
# test

(['Deutschland', 6852, 'Schottland', 3149],
 ['Deutschland', 6187, 'Ungarn', 3814],
 ['Deutschland', 6644, 'Schweiz', 3357],
 ['Schottland', 4142, 'Ungarn', 5859],
 ['Schottland', 4667, 'Schweiz', 5334],
 ['Ungarn', 5532, 'Schweiz', 4469])

In [133]:
def group_ranking(results):
    point_sum = []

    for result in results:
        team1, points1, team2, points2 = result
        
        # Check if the country already exists in the list
        found1 = False
        found2 = False
        for i, entry in enumerate(point_sum):
            if entry[0] == team1:
                point_sum[i] = (team1, entry[1] + points1)
                found1 = True
            if entry[0] == team2:
                point_sum[i] = (team2, entry[1] + points2)
                found2 = True
        
        # If country not found, add it to the list
        if not found1:
            point_sum.append((team1, points1))
        if not found2:
            point_sum.append((team2, points2))
    
    # Sort the list by points in descending order
    point_sum.sort(key=lambda x: x[1], reverse=True)
    
    # Assign rankings
    ranked_list = [(country, points, rank + 1) for rank, (country, points) in enumerate(point_sum)]
    
    return ranked_list

# Example usage
sum_list = group_ranking(test)
sum_list

[('Deutschland', 19683, 1),
 ('Ungarn', 15205, 2),
 ('Schweiz', 13160, 3),
 ('Schottland', 11958, 4)]

In [135]:
# def ko_quali_list(group_rangking, groups = ["A", "B", "C", "D", "E", "F"]):
#     winner = []

#     for group in groups:
#         if 


#def ko_simulation():
      
 
    
  
# def ko_winners():

    

# def final_simulation():
    

# def simulation(data, repetitions):

In [ ]:
# TO DO:
# - create all functions
# - make this file a heler file
# - run the simulation in a new file called simulation
# - calc the possibility that Switzerland wins the EC