In [59]:
import pandas as pd
import itertools

In [60]:
# import elo data as df
data_elo = pd.read_excel("./data_elo.xlsx")
data_elo
indices = data_elo[data_elo["Land"] == "Türkei"].index

# print("Indices where 'Türkei' appears in the 'Land' column:", indices)
# row_219 = data_elo.iloc[219]
# row_219

In [61]:
# import market value data as df
data_market_value = pd.read_excel("./data_makret_value.xlsx")


indices = data_market_value[data_market_value["Land"] == "Türkei"].index
indices

# print("Indices where 'Türkei' appears in the 'Land' column:", indices)
# row_219 = data_elo.iloc[219]
# row_219

Index([12], dtype='int64')

In [62]:
# import em teams

data_teams = pd.read_excel("./em_teams.xlsx")
data_teams
filtered_df =data_teams[data_teams['Gruppe'] =="A"]
filtered_df

          Land Gruppe
0  Deutschland      A
1   Schottland      A
2       Ungarn      A
3      Schweiz      A

In [63]:
merge_data = pd.merge(data_teams, data_elo, on="Land")
merge_data = pd.merge(merge_data,data_market_value,on="Land" )
merge_data

,Land,Gruppe,R,Average #,Average R,1 Year Change #,1 Year Change R,Matches T,Matches H,Matches A,Matches N,Matches W,Matches L,Matches D,Goals F,Goals A,#,Confederation,Market Value
0,Deutschland,A,1921,8,1910,-3,-30,1019,451,407,161,587,220,212,2286,1207,6,UEFA,€672.00m
1,Schottland,A,1776,14,1878,0,-22,843,392,404,47,401,258,184,1456,1041,16,UEFA,€239.40m
2,Ungarn,A,1842,20,1836,3,11,1013,456,485,72,482,315,216,2061,1492,23,UEFA,€166.65m
3,Schweiz,A,1804,27,1686,-7,-87,869,414,382,73,308,368,193,1286,1453,18,UEFA,€223.20m
4,Spanien,B,2019,7,1942,4,56,753,329,294,130,440,138,175,1517,675,4,UEFA,€906.00m
5,Kroatien,B,1953,12,1879,-3,-4,375,147,159,69,196,78,101,647,376,14,UEFA,€286.00m
6,Italien,B,1956,8,1916,0,6,878,396,317,165,467,171,240,1536,863,5,UEFA,€757.00m
7,Albanien,B,1613,73,1499,15,74,383,181,176,26,105,197,81,363,577,30,UEFA,€123.05m
8,Slowenien,C,1739,55,1619,12,61,292,132,134,26,108,111,73,370,344,27,UEFA,€130.85m
9,Dänemark,C,1822,20,1798,-2,-32,879,400,388,91,409,292,178,1612,1190,10,UEFA,€368.50m
10,Serbien,C,1788,20,1785,-8,-76,839,293,413,133,395,259,185,1595,1153,17,UEFA,€227.60m
11,England,C,1999,4,1979,0,-4,1126,497,510,119,657,211,258,2628,1100,1,UEFA,€1.47bn
12,Polen,D,1721,29,1712,-11,-63,894,383,399,112,388,286,220,1520,1200,21,UEFA,€199.10m
13,Niederlande,D,1968,15,1845,-6,-79,871,413,350,108,448,236,187,1811,1112,7,UEFA,€610.00m
14,Österreich,D,1857,20,1809,16,98,839,419,373,47,356,305,178,1502,1295,15,UEFA,€265.80m
15,Frankreich,D,2085,16,1788,1,-28,909,462,334,113,455,265,189,1642,1257,2,UEFA,€1.21bn
16,Belgien,E,1986,23,1754,-2,-2,852,406,368,78,379,295,178,1547,1335,8,UEFA,€540.80m
17,Slowakei,E,1655,40,1680,15,60,347,146,163,38,139,125,83,490,439,29,UEFA,€126.50m
18,Rumänien,E,1664,28,1717,6,43,769,320,363,86,341,236,192,1250,977,31,UEFA,€95.73m
19,Ukraine,E,1863,33,1739,7,51,309,131,131,47,140,81,88,431,313,11,UEFA,€354.50m
20,Türkei,F,1750,42,1611,12,48,639,280,287,72,249,240,150,895,925,13,UEFA,€303.45m
21,Georgien,F,1650,70,1551,2,-2,292,126,140,26,96,133,63,369,403,24,UEFA,€156.90m
22,Portugal,F,2013,19,1792,0,8,668,310,252,106,331,185,152,1165,754,3,UEFA,€1.06bn
23,Tschechische Republik,F,1772,13,1858,-1,-13,858,348,411,99,414,255,189,1580,1066,26,UEFA,€146.65m

In [64]:
def win_possiblility(data, country_a, country_b):
    rating_a = data.loc[data["Land"] == country_a, "R"].values[0]
    rating_b = data.loc[data["Land"] == country_b, "R"].values[0]

    dr = rating_a - rating_b
    we = 1 / (10 ** (-dr / 400) + 1)

    return we

# test = win_possiblility(merge_data, "Schweiz", "Deutschland")
test = win_possiblility(merge_data, "Schweiz", "Türkei")
test

0.577092475825329

In [69]:
filtered_df = data_teams[data_teams['Gruppe'] == "A"]

team_a = filtered_df["Land"][0]
team_b = filtered_df["Land"][1]
team_c = filtered_df["Land"][2]
team_d = filtered_df["Land"][3]

# team_a = filtered_df["Land"].iloc[0]
# team_b = filtered_df["Land"].iloc[1]
# team_c = filtered_df["Land"].iloc[2]
# team_d = filtered_df["Land"].iloc[3]

print(team_a, team_b, team_c, team_d)

WIN_A_B = win_possiblility(data_elo, team_a, team_b)
WIN_A_B

Deutschland Schottland Ungarn Schweiz

0.6973450785898532

In [68]:
def group_winner(data, group = str):
    count_a = 0
    count_b = 0
    count_c = 0
    count_d = 0

    for match in group:
        filtered_df = data_teams[data_teams['Gruppe'] == group]

        team_a = filtered_df["Land"][0]
        team_b = filtered_df["Land"][1]
        team_c = filtered_df["Land"][2]
        team_d = filtered_df["Land"][3]

        WIN_A_B = win_possiblility(data, team_a, team_b)
        WIN_A_C = win_possiblility(data, team_a, team_c)
        WIN_A_D = win_possiblility(data, team_a, team_d)

        WIN_B_C = win_possiblility(data, team_b, team_c)
        WIN_B_D = win_possiblility(data, team_b, team_d)

        WIN_C_D = win_possiblility(data, team_c, team_d)

        if 



   





        
 
    
  

# def ko_winners():

    

# def final_winner():
    

# def simulation(data, repetitions):

IndentationError: expected an indented block after 'for' statement on line 12 (1380450404.py, line 14)