In [2]:
import pandas as pd

In [4]:
# import elo data as df
data_elo = pd.read_excel("./data_elo.xlsx")
data_elo_sortet_alpha = data_elo.sort_values(by = "Team")
data_elo_sortet_alpha

,Team,R,Average #,Average R,1 Year Change #,1 Year Change R,Matches T,Matches H,Matches A,Matches N,Matches W,Matches L,Matches D,Goals F,Goals A
168,Afghanistan,1114,167,904,7,20,150,9,57,84,36,79,35,146,312
58,Albania,1613,73,1499,15,74,383,181,176,26,105,197,81,363,577
45,Algeria,1666,51,1632,-5,-46,650,245,226,179,290,187,173,982,668
169,Andorra,1113,182,1047,3,-8,208,85,93,30,13,167,28,70,505
77,Angola,1508,88,1457,24,101,427,147,173,107,152,128,147,495,440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Western Sahara,996,189,996,-3,0,1,0,1,0,0,1,0,0,6
172,Yemen,1094,144,1212,5,2,274,53,81,140,59,165,50,265,561
85,Zambia,1485,60,1559,-6,-1,826,262,342,222,376,237,213,1319,869
127,Zanzibar,1326,145,1108,-5,-2,204,27,42,135,37,126,41,169,434
128,Zimbabwe,1323,81,1465,-1,5,495,183,198,114,193,160,142,672,577

In [4]:
# import market value data as df
data_market_value = pd.read_excel("./data_makret_value.xlsx")
data_market_value

     #              Country Confederation Market Value
0    1              England          UEFA      â‚¬1.47bn
1    2               France          UEFA      â‚¬1.21bn
2    3             Portugal          UEFA      â‚¬1.06bn
3    4                Spain          UEFA     â‚¬906.00m
4    5                Italy          UEFA     â‚¬757.00m
5    6              Germany          UEFA     â‚¬672.00m
6    7          Netherlands          UEFA     â‚¬610.00m
7    8              Belgium          UEFA     â‚¬540.80m
8    9               Norway          UEFA     â‚¬474.20m
9   10              Denmark          UEFA     â‚¬368.50m
10  11              Ukraine          UEFA     â‚¬354.50m
11  12               Sweden          UEFA     â‚¬343.50m
12  13              TÃ¼rkiye          UEFA     â‚¬303.45m
13  14              Croatia          UEFA     â‚¬286.00m
14  15              Austria          UEFA     â‚¬265.80m
15  16             Scotland          UEFA     â‚¬239.40m
16  17               Serbia          UEFA     â‚¬227.60m
17  18          Switzerland          UEFA     â‚¬223.20m
18  19  Republic of Ireland          UEFA     â‚¬215.90m
19  20               Russia          UEFA     â‚¬200.00m
20  21               Poland          UEFA     â‚¬199.10m
21  22                Wales          UEFA     â‚¬175.85m
22  23              Hungary          UEFA     â‚¬166.65m
23  24              Georgia          UEFA     â‚¬156.90m
24  25               Greece          UEFA     â‚¬151.85m
25  26       Czech Republic          UEFA     â‚¬146.65m
26  27             Slovenia          UEFA     â‚¬130.85m
27  28   Bosnia-Herzegovina          UEFA     â‚¬127.15m
28  29             Slovakia          UEFA     â‚¬126.50m
29  30              Albania          UEFA     â‚¬123.05m
30  31              Romania          UEFA      â‚¬95.73m
31  32               Kosovo          UEFA      â‚¬89.43m
32  33              Iceland          UEFA      â‚¬70.70m
33  34               Israel          UEFA      â‚¬57.45m
34  35      North Macedonia          UEFA      â‚¬51.73m
35  36     Northern Ireland          UEFA      â‚¬49.10m
36  37           Montenegro          UEFA      â‚¬40.03m
37  38              Finland          UEFA      â‚¬33.65m
38  39             Bulgaria          UEFA      â‚¬33.38m
39  40              Armenia          UEFA      â‚¬33.18m
40  41           Luxembourg          UEFA      â‚¬30.83m
41  42           Kazakhstan          UEFA      â‚¬21.50m
42  43               Cyprus          UEFA      â‚¬17.65m
43  44           Azerbaijan          UEFA      â‚¬16.00m
44  45              Moldova          UEFA      â‚¬15.00m
45  46              Belarus          UEFA      â‚¬11.75m
46  47            Lithuania          UEFA      â‚¬11.48m
47  48               Latvia          UEFA      â‚¬10.40m
48  49              Estonia          UEFA       â‚¬9.00m
49  50                Malta          UEFA       â‚¬6.53m
50  51              Andorra          UEFA       â‚¬3.28m
51  52        Faroe Islands          UEFA       â‚¬2.90m
52  53            Gibraltar          UEFA       â‚¬1.62m
53  54        Liechtenstein          UEFA        â‚¬950k
54  55           San Marino          UEFA        â‚¬900k
55  56               Monaco          UEFA            -
56  57             Sweden B          UEFA            -

In [4]:
# import em teams

data_teams = pd.read_excel("./em_teams.xlsx")
data_teams

           Land Gruppe
0   Deutschland      A
1    Schottland      A
2        Ungarn      A
3       Schweiz      A
4       Spanien      B
5      Kroatien      B
6       Italien      B
7      Albanien      B
8     Slowenien      C
9      DÃ¤nemark      C
10      Serbien      C
11      England      C
12        Polen      D
13  Niederlande      D
14    Ã–stereich      D
15   Frankreich      D
16      Belgien      E
17     Slowakei      E
18     RumÃ¤nien      E
19      Ukraine      E
20       TÃ¼rkei      F
21     Georgien      F
22     Portugal      F
23   Tschechien      F

#